.wrap-nav {
  display: flex;
  flex-direction: column;
   min-width: 15%;
  text-align: center;
  height: 90vh;
  box-shadow: 10px 1px 5px rgba(0,0,0,0.05);
}

.image {
  margin-top: 25%;
  margin-bottom: 25%;
  border-radius: 50%;
  width: 50%;
}

.link {
  margin: 20px 20px;
  font-weight: bold;
  color: black;
  text-decoration-color: white;
}

.link:focus {
  text-decoration-color: darkgreen;
  text-decoration-style: solid;
}